{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Assign Role page</title>
</head>
<body class = "bg-gray-100">

    {% include "header.html" %}


    <main class = "w-1/2 mx-auto my-8">

        <div  class = "messagesection">
    
                {% if messages %}
            

                        {% for message in messages %}

                            
                        
                            <div class = " py-2 px-3 font-semibold
                            
                                {% if message.tags == "success"%} 
                                bg-green-500 
                                
                                {% elif message.tags == "warning" %}
                                bg-yellow-500
                                
                                {% elif message.tags == "error" %}
                                bg-red-600
                                
                                {% else %}
                                bg-gray-500

                                {% endif %}
                            
                            ">

                            {{ message }}

                            </div>           
                        
                        {% endfor %}

                {% endif %}

           
        </div>

        <div class="formsection">

            <form method = "POST">
                {% csrf_token %}
                {% for field in assign_role_form %}

                    <label for="{{field.id_for_label}}"> <p class = "text-shadow-sm text-shadow-black font-semibold text-[1.1rem] text-cyan-700">{{field.label}}</p> </label>
                        {{field}}

                {% endfor %}
            
                <button type = "submit" class = "px-2 mt-2 font-semibold bg-green-200 shadow-sm shadow-inner shadow-black rounded-md" >Assign Role</button>
            </form>

        </div>

    </main>


     <div  class = "footersection w-[80%] mx-auto">
    
         {% include "footer.html" %}
    
     </div>
    
</body>
</html>



{% comment %} 
 
{% for field in create_group_form %}

                    <label for="{{field.id_for_label}}"> <p class = "text-shadow-sm text-shadow-black font-semibold text-[1.1rem] text-cyan-700">{{field.label}}</p> </label>
                    {{field}}

                {% endfor %}


{% endcomment %}