<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Log in Page</title>
</head>
<body class= "bg-emerald-100">

   {% include "header.html" %}


   <main class = "w-[80%] mx-auto">

    <div class="messagesections  p-2 my-4">


        {% if messages %}
          

               {% for message in messages %}

                   
               
                  <div class = " py-2 px-3 font-semibold
                  
                    {% if message.tags == "success"%} 
                     bg-green-500 
                    
                    {% elif message.tags == "warning" %}
                      bg-yellow-500
                    
                    {% elif message.tags == "error" %}
                      bg-red-600
                    
                    {% else %}
                       bg-gray-500

                    {% endif %}
                  
                  ">

                   {{ message }}

                  </div>           
               
               {% endfor %}

          
  
        
        {% endif %}

    </div>



   <div class="fromsection flex justify-center  my-4 p-3">


            <form method="post"  class="flex flex-col gap-2">
            {% csrf_token %}

            {% if password_change_form.non_field_errors %}
                <ul class="text-red-600">
                    {% for error in password_change_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            {% for field in password_change_form %}

                
                    <label for="{{field.id_for_label}}"> <p class = "text-shadow-sm text-shadow-black font-semibold text-[1.1rem] text-cyan-700">{{field.label}}</p> </label>
                    
                    {{field}}
                
                  
            
            {% endfor %}

                <div class = "submitbox">

                        <button type="submit" 
                            class="bg-gradient-to-r from-blue-500 to-indigo-600 
                                text-white px-4 py-2 rounded-lg font-bold 
                                w-[40%] 
                            text-shadow-sm text-shadow-black 
                                ">
                            Change
                        </button>
                </div>

        </form>



   </div>

</main>




<div class="footersection w-[80%] mx-auto ">


    {% include "footer.html" %}



</div>






    
</body>
</html>