 {% load static %}
 <header>


        <div class="headerSection flex justify-evenly w-[80%] py-2 mx-auto bg-gradient-to-r from-black/70 via-gray-900/60 to-black/70 backdrop-blur-xl border rounded-b-lg">

         <div class = "headerLogo flex items-center gap-1.5 text-white font-semibold p-1">
            <img src="{% static "IMAGES/eventLogo.svg" %}" alt="logo" class = "h-[4rem] w-[4rem] rotate-[-25deg]">
            <p>EVENT-MANAGEMENT</p>
         </div>
         <div class = "headerlink flex items-center text-white font-semibold">
            
            <ul class = "list-none flex gap-3">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'events:dashboard' %}">Dashboard</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
                {% if user.is_authenticated %}
                    <li class = "flex items-center">
                        <form method="post" action="{% url 'users:log_out' %}">
                            {% csrf_token %}
                            <button type="submit">Logout/</button>
                        </form>
                        <a href="{% url 'users:my_profile' %}">Profile</a>
                    </li>

                {% else %}
                <li>
                    <a href="{% url 'users:log_in' %}">Login/</a> 
                    <a href="{% url 'users:sign_up' %}">Sign Up</a>
                </li>

                {% endif %}
                
                
            </ul>

         </div>

        </div>


    </header>