{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Dashboard Page</title>
</head>
<body class="bg-gray-100">



    {% include "header.html" %}


    <div class = "header">
        <div class="headersection w-[80%] mx-auto mt-4 grid grid-cols-1 lg:grid-cols-4 gap-3 p-4">
             

            <a href="{% url 'events:dashboard' %}?type=totalevents">

                <div class = "totalevents bg-white font-extrabold text-[1.3rem] flex flex-col p-2 shadow-md shadow-red-500">
                    <p>Total Events</p>
                    <div class = "totalevents_img flex justify-between">
                        <p>{{totalEvents}}</p>
                        <img src="{% static "IMAGES/totaleventsPic.svg" %}" alt="total" class = "h-[2rem] w-[2rem] shadow-md shadow-red-500">
                    </div>
                </div>

            </a>


            <a href="{% url 'events:dashboard' %}?type=totalparticipants">

                <div class = "totalparticipants bg-white font-extrabold text-[1.3rem] flex flex-col p-2 shadow-md shadow-violet-600">
                    <p>Total Participants</p>
                    <div class = "flex justify-between">
                        <p>{{totalParticipants}}</p>
                        <img src="{% static "IMAGES/participantPic.svg" %}" alt="members" class = "h-[2rem] w-[2rem] shadow-md shadow-violet-600">
                    </div>
                </div>

            </a>



            <a href="{% url 'events:dashboard' %}?type=previousevents">

                <div class = "previousevents bg-white font-extrabold text-[1.3rem] flex flex-col p-2 shadow-md shadow-blue-500">
                    <p>Previous Events</p>
                    <div class = "flex justify-between">
                        <p>{{previousEvents}}</p>
                        <img src="{% static "IMAGES/previousEventPic.svg" %}" alt="previous" class = "h-[2rem] w-[2rem] shadow-md shadow-blue-500">
                    </div>
                </div>

            </a>


            <a href="{% url 'events:dashboard' %}?type=upcomingevents">
                <div class = "upcomingevents bg-white font-extrabold text-[1.3rem] flex flex-col p-2 shadow-md shadow-orange-500">
                    <p>Upcoming Events</p>
                    <div class = "flex justify-between">
                        <p>{{upcomingEvents}}</p>
                        <img src="{% static "IMAGES/upcomingEventPic.svg" %}" alt="Upcoming" class = "h-[2rem] w-[2rem] shadow-md shadow-orange-500">
                    </div>
                </div>
            </a>

            

        </div>

    </div>




    <main>
       
        <div class="mainsection w-[80%] mx-auto mt-3 flex flex-col p-2">

                {% if messages %}
            

                        {% for message in messages %}

                            
                        
                            <div class = " py-2 px-3 font-semibold
                            
                                {% if message.tags == "success"%} 
                                bg-green-500 
                                
                                {% elif message.tags == "warning" %}
                                bg-yellow-500
                                
                                {% elif message.tags == "error" %}
                                bg-red-600
                                
                                {% else %}
                                bg-gray-500

                                {% endif %}
                            
                            ">

                            {{ message }}

                            </div>           
                        
                        {% endfor %}

                {% endif %}



            {% if type == "totalevents" or type == "previousevents" or type == "upcomingevents" or type == "todaysevents" %}

                  <div class = "w-[100%] flex justify-center items-center mb-4">


                    {% if type == "totalevents" %}
                    
                      <p class = "font-extrabold text-[1.3rem]">Total Events</p>
                    
                    {% elif type == "previousevents" %}
                      <p class = "font-extrabold text-[1.3rem]">Previous Events</p>
                    
                    {% elif type == "upcomingevents" %}
                      <p class = "font-extrabold text-[1.3rem]">Upcoming Events</p>
                    
                    {% else %}
                      <p class = "font-extrabold text-[1.3rem]">Today's Events</p>

                    {% endif %}

                     

                  </div>


                  <div class = "w-[100%] grid grid-cols-1 lg:grid-cols-4 gap-3">

                           {% if not contextData %}
                             
                               <p class = "bg-rose-500 font-semibold text-center">No Events Found</p>
                              
                           {% endif %}


                            {% for event in contextData %}


                                    <div class="container  flex flex-col  gap-2 rounded-lg overflow-hidden shadow-2xl shadow-black">

                                                <div class = " min-h-30 p-4 bg-gradient-to-bl from-teal-400 via-violet-600 to-indigo-600 flex flex-col gap-3 justify-center items-center">
                                                        <p class = "font-semibold text-white">Event Name:{{event.eventName}}</p>
                                                        <a href="{% url 'events:details' event.id %}"><button class = "px-2 bg-green-500 rounded-sm font-semibold">DETAILS</button></a>
                                                </div>

                                                <div class = "w-[100%] p-2  flex flex-col gap-2 font-serif ">

                                                        <p>Catagory: {{event.catagory.catagoryName}}</p>
                                                        <p>Location: {{event.eventLocation}}</p>
                                                        <p>Date:{{event.eventDate}}</p>
                                                        <p>Time:{{event.eventTime}}</p>

                                                </div>

                                               <div class="rsvp  flex justify-center items-center mb-2">
                                                   <div class = "bg-sky-300 px-2 font-semibold rounded-sm shadow-inner shadow-blue-500">
                                                      <a href="{% url 'events:rsvp' event.id %}">RSVP</a>
                                                   </div>
                                               </div>

                                    </div>

                            
                            {% endfor %}   

                    </div>

    
            {% elif type == "totalparticipants" %}
                   
                <div class = "w-[100%] flex justify-center items-center mb-4">

                     <p class = "font-extrabold text-[1.3rem]">Members</p>

                </div>


                <div class = "grid grid-cols-1 gap-3 mb-4 p-2 ">

                    <div class = "flex justify-between px-4 mb-2 font-semibold">

                      <p>Name</p>
                      <p>Email</p>
                      <p class = "me-6">Participated At</p>

                    </div>

                    {% for participant in contextData %}
                       
                       
                            <div class = "grid grid-cols-3 p-2 font-serif items-center bg-white shadow-sm shadow-black rounded-sm">

                                <div class="flex flex-col">

                                   <a href="{% url 'users:participant_profile' participant.id %}">

                                      <p class = "text-amber-500 font-semibold">{{participant.user.username}} </p>

                                   </a>

                                     

                                </div>

                                
                                <p>{{participant.user.email}}</p>

                                <div class = "flex flex-wrap">

                                    {% for event in participant.rsvp_events.all %}
                                    
                                    <a href="{% url 'events:details'  event.id %}"><p class = "text-sky-500">{{event.eventName}},</p></a>
                                    
                                    {% endfor %}

                                </div>
                                
                            </div>
                    
                    
                    {% endfor %}
                  
                </div>
                

            {% endif %}


             
           

        </div>
    
    </main>



    <div class="footersection w-[80%] mx-auto">
              {% include "footer.html" %}
    </div>




    
</body>
</html>







{% comment %} 
 

{% endcomment %}