{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>create here</title>

</head>
<body>

    <div class = "w-[80%] mx-auto mt-8 border p-4 flex flex-col ">


        {% if messages %}
          

               {% for message in messages %}

                   
               
                  <div class = " py-2 px-3 font-semibold
                  
                    {% if message.tags == "success"%} 
                     bg-green-500 
                    
                    {% elif message.tags == "warning" %}
                      bg-yellow-500
                    
                    {% elif message.tags == "error" %}
                      bg-red-600
                    
                    {% else %}
                       bg-gray-500

                    {% endif %}
                  
                  ">

                   {{ message }}

                  </div>           
               
               {% endfor %}

          
        
        
        
        {% endif %}


        

        

         <form method="post" class = " flex flex-col gap-2">

            {% csrf_token %}

            {{form}}


            <div class = "buttonclass">
                <button type = "submit" class = "px-2 py-1 rounded shadow-sm shadow-black border-2 border-white bg-green-500 mt-4 ">Submit</button>
            </div>


            


        </form> 


        
    </div>
    
</body>
</html>